* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

h1 {
    font-size: 40px;
}

nav {
    background-color: #006a43;
}

nav li {
    display: inline-block;
    padding: 50px;
    font-size: 20px;
    font-weight: bold;
}

footer {
    background-color: #006a43;
    height: 123px;
}

.background {
    background-image: url("/resources/images/Petanque4.jpg");
    background-size: cover;
    height: 800px;
}

.text {
    text-align: center
  }
